@import url(//fonts.googleapis.com/css?family=Work+Sans:400);


body {
  font-family: Work Sans;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000000;
  margin-top: 120px;
  margin-bottom: 40px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  z-index: 100;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.3s ease-in-out;
}

.selected {
  border-bottom: 2px solid #ffffff;
}

.selected:hover,
a:hover {
  color: #9389c0;
  border-bottom: 2px solid #9389c0;
}

header h1 {
  width: 50px;
  box-shadow: 3px 2px 20px #fff;
  border-radius: 30px;
}

.photos {
  /* if using flexbox:
    
    delete in-line block below and align text center above
  display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.photo {
  display: inline-block;
  max-width: 350px;
  /*
    vertical-align: bottom; include that for awkard sized images  */
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.7s ease;
  /* pointer-events: none; /* Allow hover events to pass through */
}

.overlay h2 {
  position: relative;
  top: 50px;
  text-align: center;
  left: 10px;
  font-size: 20px;
  line-height: 1.2;
}

.photo:hover .overlay {
  opacity: 0.47;
}

.photo img {
  width: 100%;
  transform: skew(7deg, 17deg);
  transition: 0.9s ease-in-out;
  /*
    height: 100%;
    object-fit: cover;
    object-position: center; 
    - use this if you want to crop an awkward sized image-
    */
}

.photo:hover img {
  transform: scale(1.5);
  /* add for special effects: skew(-7deg, -17deg) */
}

.small {
  width: 250px;
}

.list {
  font-size: 50px;
  max-width: 640px;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 120px;
  padding: 20px;
}

.list a img {
  opacity: 0;
  position: fixed;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  width: 350px;
  border-radius: 30px;
}

.list a:after {
  content: '/';
}

.list a:last-child:after {
  content: '';
}

.list a:hover img {
  opacity: 0.81;
  pointer-events: none;
}

footer img {
  width: 20px;
  animation: floatAndRotate 3s infinite;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-top: 40px;
  width: 100%;
  z-index: 100;

  /* background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  /*  backdrop-filter: blur(10px); /* Apply blur effect */
  /*  border-radius: 10px; */
}

footer a:hover {
  color: #9389c0;
  filter: invert(64%) sepia(26%) saturate(509%) hue-rotate(211deg) brightness(84%) contrast(86%);
  border-bottom: 0px solid #9389c0;
  animation: floatAndRotate 3s infinite;
}

@keyframes floatAndRotate {
  0% {
    transform: translateY(0px) rotate(-2deg);
  }

  50% {
    transform: translateY(-20px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(-2deg);
  }
}

@media (max-width: 600px) {

  .list {
    font-size: 20px;
    height: 60vh;
  }

  .list a img {
    top: 50%;
    left: 65%;
    max-width: 150px;
    border-radius: 100%;
  }

}