@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

* {
  margin: 0;
}

body {
  background-color: black;
}

h1 {
  font-family: 'Jaro', sans-serif;
  font-size: 10vw;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  overflow: hidden;
}

div {
  padding: 15px;
  border-radius: 10px;
  transition: transform 2s ease-in-out;
  transform: rotate(0deg);
}

div:hover {
  transform: rotate(10deg);
}

.left {
  color: white;
  font-size: 40px;
  line-height: 1.5;
  align-self: center;
}

.middle {
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.scroll {
  animation: scrollY 10s infinite ease-in-out alternate-reverse;
}

@keyframes scrollY {
  0% {
    transform: translateY(-64%);
  }

  100% {
    transform: translateY(0);
  }
}

.middle::-webkit-scrollbar {
  display: none;
}

.right {
  width: auto;
}

.hi {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 30px;
  background-size: cover;
}

.hi2 {
  background-image: url(Assets/Rebelz-Red.jpeg);
  width: 300px;
  height: 300px;
  margin: 30px;
  background-size: cover;
  background-position: 50% 50%;
}

.img0 {
  background-image: url(Assets/RebelzBuilding.jpeg);
  background-position: center;
}

.img1 {
  background-image: url(Assets/Rebelz-fellow.jpeg);
}

.img2 {
  background-image: url(Assets/Rebelz-poster.jpeg);
  background-position: center;
}

.img3 {
  background-image: url(Assets/Dare2BARebel.jpeg);
  background-position: center;
}

.img4 {
  background-image: url(Assets/RebelzGang.jpeg);
  background-position: center;
}

.img5 {
  background-image: url(Assets/Rebelz-boi.jpeg);
  background-position: center;
}

@media (max-width: 950px) {
  h1 {
    font-size: 20vw;
  }

  section {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  div {
    transform: rotate(4deg);
  }

  div:hover {
    transform: rotate(10deg);
  }

  .middle {
    overflow: hidden;
  }

  .left {
    position: relative;
  }
}