body {
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-size: 50px;
    background: #000000;
}

.slideshow {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.holder {
    display: flex;
    position: relative;
    width: max-content;
    top: 0;
    left: 0;
    height: 100vh;
    transition: left 1s;
}

.holder div {
    /* float: left; */
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    padding: 20px 30px;
}

.steps {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    z-index: 5;
}

.prev {
    left: 30px;
    position: absolute;
    bottom: 30px;
}

.next {
    right: 30px;
    position: absolute;
    bottom: 30px;
}

.slide1 {
    background-image: url('assets/boyce_6.jpg');
}

.slide2 {
    background-image: url('assets/boyce_2.jpg');
}

.slide3 {
    background-image: url('assets/boyce_7.jpg');
}

.slide4 {
    background-image: url('assets/boyce_5.jpg');
}