body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000000;
    color: #f9f8f0;
}

header {
    padding: 100px;
    background-image: url(Assets/3d\ tut\ v1.gif);
    /* 3d-tut-v1.gif // boobox_dancer_plain.gif */
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    margin-bottom: 100px;
}

header p {
    font-weight: 400;
}

h1 {
    font-family: 'Knewave', cursive;
    font-size: 12vw;
    line-height: 1.5;
    margin-bottom: 90px;
}

section,
footer {
    margin: 0 100px 90px 100px;
}

.para350 {
    max-width: 350px;
}

.section1200,
.section1110,
.section630 {
    max-width: 1200px;
}

.section630 {
    max-width: 630px;
}

.img1 {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 40%;
}

.section630 img {
    width: 100%;
}

.section630 p,
.section1110 p {
    background-color: #f9f8f0;
    color: #000000;
    padding: 15px;
    margin-top: 50px;
}

.process {
    padding-bottom: 50px;
    border-bottom: 2px solid #f9f8f0;
}

#design {
    margin-top: 50px;
}

footer {
    max-width: 1200px;
    padding: 35px;
    background-color: #222222;
}

footer a {
    color: yellow;
    text-decoration: none;
}

@media (max-width: 600px) {

    header {
        padding: 50px;
        background-attachment: scroll;
    }


    section,
    footer {
        margin: 0 20px 90px 20px;
    }

}